body {
  font-family: sans-serif;
  text-align: center;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  padding: 10px;
  color: white;
  background-color: darkred;
  border-radius: 7px;
  text-decoration: none
}

a:hover {
  background-color: green
}

#titlebar {
  position: relative;
  top: 0px;
  left: 0;
  color: black;
}

#main {
  float: left;
  width: 30%;
}
