body {
  background-color: rgb(40, 44, 52);
  text-align: center;
  font-family: 'WorkReg';
    color: white;
    font-size: 20px;
}

h1 {
  font-family: 'beanz';
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: dimgray;
  }

.jokes {
  background-color: lightgrey;
      color: black;
}

.contents {
color: white;
}

p {
    width: 20%;
    text-align: center;
}

#joke {
    text-align: center;
}

table {
align-self: center;
}

.answers {
    color: white;
}